<header>
  <h1 class="main-title">Little Esty Shop</h1>

  <div class="sub-header">
    <h2 class="page-title"><%= @merchant.name %></h2>
      <nav class="navigation">
      <%= link_to "Dashboard", "/merchants/#{@merchant.id}/dashboard" %>
      <%= link_to "My Items", "/merchants/#{@merchant.id}/items" %>
      <%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %>
      <%= link_to "My Bulk Discounts", merchant_bulk_discounts_path(@merchant.id) %>
      </nav>
  </div>
</header>

<section id="holidays">
  <h3>Upcoming Holidays</h3>
  <ol>
    <li><% @holidays[0].localname %> On: <%@holidays[0].date%></li>
    <li><% @holidays[1].localname %> On: <%@holidays[0].date%></li>
    <li><% @holidays[2].localname %> On: <%@holidays[0].date%></li>
  </ol>

</section>

<h3><center>My Discounts<center></h3>

<%= link_to "Create a New Discount", new_merchant_bulk_discount_path(@merchant.id) %>

<% @bulk_discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <%=link_to "#{discount.name}", merchant_bulk_discount_path(@merchant.id, discount.id) %>
    <%= form_with url: "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete, local: true do |form| %>
      <%= form.submit "Delete" %>
    <% end %>
      <ul>
        <li>Discount: <%= discount.percent_discount %>%</li>
        <li>Quantity threshold: <%= discount.quantity_threshold %></li>
      </ul>
  </div>
<% end %>