<header>
<h1 class="main-title">Little Esty Shop</h1>

<div class="sub-header">
  <h2 class="page-title"><%= @merchant.name %></h2>
  <nav class="navigation">
    <%= link_to "Dashboard", "/merchants/#{@merchant.id}/dashboard" %>
    <%= link_to "My Items", "/merchants/#{@merchant.id}/items" %>
    <%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %>
  </nav>
</div> 


<h3 class="invoice-header">My Invoices</h3>
<% @merchant.invoices.each do |invoice| %>
  <%= link_to "Invoice ##{invoice.id}", "/merchants/invoices/#{invoice.id}" %><br>
<% end %>