<h1><center>Little Esty Shop<center></h1>

<h2>Merchant Invoice Show Page</h2>

<h3>Invoice Details:</h3>
  <p>
  <strong>Invoice Id: </strong><%= @invoice.id %><br>
  <strong>Invoice Status: </strong><%= @invoice.status %><br>
  <strong>Invoice Creation Date: </strong><%= @invoice.created_at.strftime("%A, %B %d, %Y") %><br>
  <strong>Customer Name: </strong><%= @invoice.customer.full_name %><br>
  <strong>Invoice Items: </strong><br>
    <% @invoice.items.each do |item| %>
    <div id="item-<%= item.id %>">
      <%= item.name %><br>
      <%  item.invoice_items.each do |invoice_item| %>
        <%= invoice_item.quantity %><br>
        <%= invoice_item.unit_price %><br>
        <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
          <%= f.select :status, ["pending", "packaged", "shipped"], selected: invoice_item.status %>
          <%= f.hidden_field :invoice_item_id, value: invoice_item.id %>
          <%= f.submit "Update Item Status" %>
        <% end %>
        ---------------------------<br>
      <% end %>
      </div>
    <% end %>
  </p> 

  <strong>Total Revenue: </strong><%= @invoice.total_revenue %><br>
