<h1><center>Little Esty Shop<center></h1>

<h2>Admin Dashboard</h2>


<%= link_to "Dashboard", admin_index_path %>
<%= link_to "Merchants", admin_merchants_path %>
<%= link_to "Invoices", admin_invoices_path %><br><br>

<h3><center>Invoice #<%= @invoice.id %><center></h3>

<p>Status: <%= @invoice.status %></p>

<p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y")%></p>

<h4>Customer:</h4>
<%= @invoice.customer.full_name %>

<section id="Items_Invoice">
<h4>Items on this Invoice:</h4>

<table>
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Status</th>
  </tr>
 
  <% @invoice_items.each do |item| %>
    <tr>
      <td><%= item.item_name %></td>
      <td><%= item.quantity %></td>
      <td>$<%= item.unit_price_in_dollars %></td>
      <td><%= item.status %></td>
    </tr>
  <% end %>
</table>
</section>