<h1><center>Little Esty Shop<center></h1>

<h2>Admin Dashboard</h2>

<%= link_to "Dashboard", admin_index_path %>
<%= link_to "Merchants", admin_merchants_path %>
<%= link_to "Invoices", admin_invoices_path %>
<%= link_to "Create a new merchant", new_admin_merchant_path %><br><br>

<section id="top_merchants">
<h3>Top 5 Merchants</h3>
<ol>
  <% @top_5_merchants.each do |merchant| %>
    <li>
      <div id=<%="link_to_merchant_#{merchant.id}"%>>
        <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %> | Total Revenue: <%="$#{"%.2f" % (merchant.revenue.to_f / 100)}"%><br><br>
        <label> &#8195;Top selling date for <%=merchant.name%> was <%=merchant.top_selling_date%></label><br><br>
      </div>
    </li>
  <% end %>
</ol>
</section>

<div id="enabled_merchants">
  <h3>Enabled Merchants</h3>
  <% @enabled_merchants.each do |merchant| %>
    <a name="<%merchant.name%>"> <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></a>
    <%= button_to "disable", "/admin/merchants/#{merchant.id}?status=disabled", method: :patch, id: merchant.id, params: {"merchant[status]" => 'disabled'} %>
  <% end %>    
</div>


<div id="disabled_merchants">
  <h3>Disabled Merchants</h3>
  <% @disabled_merchants.each do |merchant| %>
    <a name="<%merchant.name%>"> <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></a>
    <%= button_to "enable", "/admin/merchants/#{merchant.id}?status=enabled", method: :patch, id: merchant.id, params: { "merchant[status]" => 'enabled'} %>
  <% end%>
</div>

