<header>
  <h1 class="main-title">Little Esty Shop</h1>

  <div class="sub-header">
    <h2 class="page-title">Admin Dashboard</h2>
     <nav class="navigation">
      <%= link_to "Dashboard", admin_index_path %>
      <%= link_to "Merchants", admin_merchants_path %>
      <%= link_to "Invoices", admin_invoices_path %>
    </nav>
  </div>
    <%= link_to "Create a new merchant", new_admin_merchant_path %><br><br>
</header>

<main>

<div class='row'>
  <div class='column'>
    <h3>Enabled Merchants</h3>
      <div id="enabled_merchants">
        <% @enabled_merchants.each do |merchant| %>
          <p><font size="-1"><a name="<%merchant.name%>"> <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></a>
          <%= button_to "disable", "/admin/merchants/#{merchant.id}?status=disabled", method: :patch, id: merchant.id, params: {"merchant[status]" => 'disabled'} %></p></font>
        <% end %>    
      </div>

  <h3>Disabled Merchants</h3>
    <div id="disabled_merchants">
      <% @disabled_merchants.each do |merchant| %>
        <p><font size="-1"><a name="<%merchant.name%>"> <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></a>
        <%= button_to "enable", "/admin/merchants/#{merchant.id}?status=enabled", method: :patch, id: merchant.id, params: { "merchant[status]" => 'enabled'} %></p></font>
      <% end%>
    </div>
  </div>

  <div class='row'>
    <div class='column'>
      <section id="top_merchants">
        <h3>Top 5 Merchants</h3>
        <ol>
          <% @top_5_merchants.each do |merchant| %>
            <li>
              <div id=<%="link_to_merchant_#{merchant.id}"%>>
                <p><font size="+1"><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %> | Total Revenue: <%="$#{"%.2f" % (merchant.revenue.to_f / 100)}"%><br><br>
                <label> &#8195;Top selling date for <%=merchant.name%> was <%=merchant.top_selling_date%></label><br><br><p><font size="+1">
              </div>
            </li>
          <% end %>
        </ol>
      </section>
    </div>  
  </div>
</main>

