<header>
  <h1 class="main-title">Little Esty Shop</h1>

  <div class="sub-header">
    <h2 class="page-title">Admin Dashboard</h2>
    <nav class="navigation">
      <%= link_to "Dashboard", admin_index_path %>
      <%= link_to "Merchants", admin_merchants_path %>
      <%= link_to "Invoices", admin_invoices_path %>
    </nav>
  </div> 
</header>

<h3 class="invoice-header"><%= @merchant.name %></h3>
<p><font size="-1"><%= link_to "Update Merchant", "/admin/merchants/#{@merchant.id}/edit" %></p></font>
<br><br><br><br><br>
