<header>
  <h1 class="main-title">Little Esty Shop</h1>

  <div class="sub-header">
    <h2 class="page-title"><%= @merchant.name %></h2>
      <nav class="navigation">
      <%= link_to "My Items", "/merchants/#{@merchant.id}/items" %>
      <%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %>
      </nav>
  </div>
</header>

<main>

<div class='row'>
  <div class='column'>
    <h4 class="invoice-header">Items Ready to Ship</h4>
      <p><% @merchant.unshipped_items.order(:invoice_created_at).each do |item| %></p>
        <div id="unshipped_item_invoice_<%= item.invoice_id %>">
          <p><font size="-1">
            <%= item.name %> |
            <%= item.invoice_created_at.strftime("%A, %B %d, %Y") %>  |
            <%= link_to "Invoice ID #{item.invoice_id}", "/merchants/#{@merchant.id}/invoices/#{item.invoice_id}" %>
          </p></font>
        </div>
      <% end %>
  </div>
  <div class='column'>
    <h4 class="invoice-header">Favorite customers</h4>  
      <p><% @merchant.customers.merchant_top_customers.each do |customer| %></p>
        <div id="customer_<%= customer.id %>">
          <p><font size="+1"><%= customer.full_name %> -
          <%= customer.successful_transaction_count %> purchases </p></font>
        </div>
      <% end %>
  </div>
</main>

