<header>
<h1 class="main-title">Little Esty Shop</h1>

<div class="sub-header">
  <h2 class="page-title"><%= @merchant.name %></h2>
  <nav class="navigation">
    <%= link_to "Dashboard", "/merchants/#{@merchant.id}/dashboard" %>
    <%= link_to "My Items", "/merchants/#{@merchant.id}/items" %>
    <%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %>
  </nav>
</div> 

<h3 class="invoice-header"><%= @item.name %></h3>
<p>Description: </b><%= @item.description %></p>
<br>
<br>
<p>Current unit Price: </b><%= @item.unit_price %>cents</p>
<br>
<br>

<p>Update <%= @item.name %></p>
<%= link_to "Update information for: #{@item.name}", "/merchants/#{@merchant.id}/items/#{@item.id}/edit" %>
