<!DOCTYPE html>
<%= stylesheet_link_tag "application.css" %>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
  <%= render "layouts/navbar" %> 
    <%= yield %>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
  </body>

<div class="repo-name">
  <% response = HTTParty.get("https://api.github.com/repos/banosl/little-esty-shop") %>
    <% parsed = JSON.parse(response.body, symbolize_names: true) %>
    <% @repo = Repo.new(parsed) %>
    <p> GitHub Repository: <%= @repo.name %></p>
</div>




</html>
