<!DOCTYPE html>
<%= stylesheet_link_tag "application.css" %>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
  <%= render "layouts/navbar" %> 
    <%= yield %>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
  </body>

  <div>
    <% GithubService.new.get_contributor_commits.each do |user| %>
      <%= user.name %> Total Commits: <%= user.total_commits %><br>
    <% end %>
  </div>
</html>
