<!DOCTYPE html>
<%= stylesheet_link_tag "application.css" %>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
    <%= yield %>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
  </body>

  <div>
    <div>
      Git Repo Name: 
      <%= @github_service.get_repo.name %>
    </div>
    <div>
      <% @github_service.get_contributor_commits.each do |user| %>
        <%= user.name %> Total Commits: <%= user.total_commits %><br>
      <% end %>
    </div>
    <div>
      Total Merged Pull Requests: 
      <%= @github_service.get_total_pull_requests %>
    </div>
  </div>

 
</html>
